.container-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.name {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color: #000;
}
.Birth {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: #000;
}
